
#multilingualpress_settings h3 {
	padding: 7px 10px;
	margin: 0;
}

#inpsyde_multilingualpress_link textarea {
	width: 98%;
}
.mlp-extra-settings-box,
.mlp-admin-feature-table {
	max-width: 50em;
	color: #000;
	background: #fff;
	border-collapse: collapse;
	border: 1px solid #ddd;
	margin: 2em 0 0;
	box-sizing: border-box;
}
.mlp-admin-settings-table td,
.mlp-admin-settings-table th,
.mlp-admin-feature-table td,
.mlp-admin-feature-table th
{
	vertical-align: top;
}
.mlp-extra-settings-box,
.mlp-admin-feature-table label,
.mlp-admin-feature-table .check-column,
.mlp-callback-indent
{
	padding: 10px;
}
.mlp-admin-feature-table label
{
	padding: 10px 20px 10px 0;
}
.mlp-block-label {
	display: block;
}
.mlp-admin-feature-table .inactive {
	background: #e9e9e9;
}
.mlp-extra-settings-box label:hover,
.mlp-admin-feature-table tr:hover {
	background: #f9f9f9;
}
.mlp-callback-indent,
.mlp-extra-settings-box h4 {
	margin: 0;
}
#mlp-cpt-settings table label {
	padding: 5px 20px 5px 10px;
}

/* Quicklinks */
#mlp_quicklink_position_setting label
{
	display:     inline-block;
	color:       #000;
	background:  #fff;
	width:       120px;
	text-align:  center;
	border:      1px solid #eee;
	padding:     10px;
	margin-left: 10px;
}

#mlp_quicklink_position_setting label:hover
{
	background: #eee;
}

#mlp_quicklink_position_setting label:before
{
	content:       ' ';
	display:       block;
	width:         120px;
	height:        78px;
	margin-bottom: 10px;
	background: url(../images/quicklinkpositions.png) no-repeat top right #fff;
}

#mlp_quicklink_position_setting label.quicklink-position-tr:before
{
	background-position: top left;
}

#mlp_quicklink_position_setting label.quicklink-position-bl:before
{
	background-position: bottom left;
}

#mlp_quicklink_position_setting label.quicklink-position-br:before
{
	background-position: bottom right;
}

.mlp-warning {
	margin: 5px 0 15px;
	padding: 1px 12px;
	background: #f1f1f1;
	border-left: 4px solid #dd3d36;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}

.mlp-warning p {
	margin: 0.5em 0;
	padding: 2px;
}
/* Advanced translator metabox */

.mlp_titlediv {
	margin-bottom: 10px;
	position: relative;
}
.mlp_title {
	background:  #fff;
	font-size:   1.7em;
	line-height: 1;
	outline:     0;
	padding:     3px 8px;
	width:       100%;
}
.mlp_taxonomy_box {
	float:  left;
	border: 1px solid #aaa;
	padding: 10px 20px;
	margin: 5px;
}
.mlp_taxonomy_box legend {
	display:    block;
	text-align: center;
	font-weight: bold;
	margin:     0 auto;
}

.mlp_copy_button:before
{
	font-family:    "dashicons";
	font-size:      14px;
	content:        "\f167";
	vertical-align: bottom;
	color:          #888;
	font-weight: bold;
}

.mlp_copy_button {
	float: left;
	z-index: 10;
	position: relative;
}

/* Language manager */
#mlp-language-manager-table {
	/*width: auto;
	margin-top:20px;*/
}
#mlp-language-manager-table td {
	line-height: 1;
	height: auto !important;
	min-height: 0 !important;
	padding-bottom:3px;
	padding-top:3px;
	width:1em;
}
#mlp-language-manager-table th {
	white-space: nowrap;
}
#mlp-language-manager-table .alternate {
	background: darker;
}
#mlp-language-manager-table input[type="checkbox"]:focus {
	outline: 2px solid #8cf;
}