#mlp-language-manager-table {
	/*width: auto;
	margin-top:20px;*/
}
#mlp-language-manager-table td {
	line-height: 1;
	height: auto !important;
	min-height: 0 !important;
	padding-bottom:3px;
	padding-top:3px;
	width:1em;
}
#mlp-language-manager-table th {
	white-space: nowrap;
}
#mlp-language-manager-table .alternate {
	background: darker;
}
#mlp-language-manager-table input[type="checkbox"]:focus {
	outline: 2px solid #8cf;
}