# General backup/log/swap files
*~
*.DS_Store
*.log
*.out
*.so
*.swp

# Custom files
*.map
*.sass-cache*

# Composer
vendor
composer.lock

# Node
node_modules

# PhpStorm
.idea

# PHPUnit
phpunit.xml

# This should stay at the bottom
!.gitkeep
