# General backup/log/swap files
*~
*.DS_Store
*.log
*.out
*.so
*.swp

# Grunt
node_modules

# PhpStorm
.idea

# Custom files
*.map
*.sass-cache*

# This should stay at the bottom
!.gitkeep
