language: php

php:
  - 5.3.3
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  - nightly

sudo: false

matrix:
  fast_finish: true
  allow_failures:
    - php: hhvm
    - php: nightly

before_install:
  - travis_retry composer self-update

install:
  - travis_retry composer dump-autoload --no-dev
# TODO: Fix JavaScript, then use JSCS and JSHint.
#  - npm install -g jscs
#  - npm install -g jshint

before_script:
  - phpenv config-rm xdebug.ini

script:
# TODO: Fix JavaScript, then use JSCS and JSHint.
#  - jshint src
#  - jscs src
  - find src \( -name '*.php' \) -exec php -l {} \;
  - phpunit

notifications:
  slack:
    rooms: inpsyde:Qr1HAtG5koIbTu0nnwWYofSj
    on_start: never
    on_failure: always
    on_success: change
