<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/php/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<testsuites>
		<testsuite name="Unit">
			<directory suffix="Test.php">tests/php/Unit</directory>
		</testsuite>
		<testsuite name="Integration">
			<directory suffix="Test.php">tests/php/Integration</directory>
		</testsuite>
	</testsuites>
</phpunit>
