<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.0/phpunit.xsd"
	bootstrap="vendor/autoload.php"
	verbose="true">
	<testsuites>
		<testsuite name="Unit">
			<directory suffix="Test.php">tests/php/Unit</directory>
		</testsuite>
		<testsuite name="Integration">
			<directory suffix="Test.php">tests/php/Integration</directory>
		</testsuite>
	</testsuites>
	<listeners>
		<listener class="\Inpsyde\TestListener" file="tests/php/TestListener.php"/>
	</listeners>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
</phpunit>
