.mlp-quicklinks {
	max-width: 10em;
	padding: 10px;

	&.bl,
	&.tl {
		float: left;
		margin-right: 20px;
	}

	&.br,
	&.tr {
		float: right;
		margin-left: 20px;
	}

	&.bl,
	&.br {
		@include clearfix();
	}
}

.mlp-quicklinks-form  input {
	font-size: .9em;
}
