.mlp-quicklinks {
	max-width: 50%;

	&.mlp-quicklinks-position-bl,
	&.mlp-quicklinks-position-tl {
		float: left;
		margin-right: 20px;
	}

	&.mlp-quicklinks-position-br,
	&.mlp-quicklinks-position-tr {
		float: right;
		margin-left: 20px;
	}

	&.mlp-quicklinks-position-bl,
	&.mlp-quicklinks-position-br {
		margin-top: 20px;
		@include clearfix();
	}

	&.mlp-quicklinks-position-bl,
	&.mlp-quicklinks-position-br {
		margin-bottom: 20px;
	}

	[type="submit"] {
		display: block;
		margin: 10px auto 0;
		min-width: 50%;
	}
}
