.mlp-quicklinks.bl:after, .mlp-quicklinks.br:after {
  content: '';
  display: table;
  clear: both;
}

.mlp-language-box ul li {
  display: inline;
  margin: 0 5px 0 0;
  list-style-type: none;
}

.mlp-quicklinks {
  max-width: 10em;
  padding: 10px;
}
.mlp-quicklinks.bl, .mlp-quicklinks.tl {
  float: left;
  margin-right: 20px;
}
.mlp-quicklinks.br, .mlp-quicklinks.tr {
  float: right;
  margin-left: 20px;
}

.mlp-quicklinks-form input {
  font-size: .9em;
}
