/**
 * Frontend CSS
 * 
 * @author		fb, rw, ms, th, toscho
 * @package		mlp
 * @subpackage	frontendcss
 * 
 */
 
.mlp_language_box ul li {
	display: inline;
	list-style-type: none;
	margin: 0 5px 0 0;
}

.mlp_quicklinks {
	max-width: 10em;
	padding: 10px;
}

.mlp_quicklinks.tr,
.mlp_quicklinks.br {
	float: right;
	margin-left: 20px;
}

.mlp_quicklinks.bl,
.mlp_quicklinks.tl {
	float: left;
	margin-right: 20px;
}
.mlp_quicklinks input {
	font-size: .9em;
}

.clear {
	clear: both;
}