.mlp-translation-meta-box {
	@include clearfix();
}

.mlp-titlediv {
	position: relative;
	margin-bottom: 10px;
}

.mlp-title {
	padding: 3px 8px;
	width: 100%;
	height: 1.7em;
	line-height: 100%;
	background: #fff;
	outline: 0;
	font-size: 1.7em;
}

.mlp-name {
	padding: 3px 8px;
	line-height: 150%;
	background: #fff;
	outline: 0;
	font-size: 1.2em;
}

.mlp-excerpt {
	padding: 3px 8px;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	line-height: 150%;
	background: #fff;
	outline: 0;
	font-size: 1.2em;
}

.mlp-taxonomy-fieldset-container{
	@include clearfix();
}

.mlp-taxonomy-box {
	float: left;
	margin: 5px;
	border: 1px solid #aaa;
	padding: 10px 20px;

	legend {
		display: block;
		margin: 0 auto;
		font-weight: bold;
		text-align: center;
	}
}

.mlp-copy-post-button {
	float: left;
	position: relative;
	z-index: 10;

	&:before {
		margin-right: 5px;
		line-height: 20px;
		color: #888;
		font-size: 15px;
		vertical-align: middle;
	}
}

.mlp-warning {
	margin: 5px 0 15px;
	border-left: 4px solid #dd3d36;
	padding: 1px 12px;
	background: #f1f1f1;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);

	p {
		margin: .5em 0;
		padding: 2px;
	}
}
