#mlp-language-manager-table {

	th {
		white-space: nowrap;
	}

	td {
		padding-top: 3px;
		padding-bottom: 3px;
		width: 1em;
		height: auto !important;
		min-height: 0 !important;
		line-height: 1;
	}

	.alternate {
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	}

	input[type="checkbox"]:focus {
		outline: 2px solid #8cf;
	}
}
